<div>
	<img src="/assets/connector_top.jpg">
</div>

<div id="page" class="plaza clearfix" style="padding:15px 65px 150px 65px;">

	<h1>Time Travel Plaza</h1>

	<p>During the Philadelphia International Festival of the Arts, stop by the Kimmel Center's Commonwealth Plaza and discover what "time travel" can mean to you on a personal level.  See live performances, hear great music, grab a snack, bring the kids, and join audiences of all ages as they navigate an interactive Time Machine.</p>

	<div id="plaza-left">
		<div id="time-machine-swf">
			<embed src="/assets/timemachine.swf" width="446" height="367" />
		</div>
		<div id="time-machine-gif">
			<%= image_tag("timemachine.gif") %>
		</div>
		<div id="wormhole">
			<a href="/events/33"><%= image_tag("Shutyourwormhole.jpg") %></a>
		</div>
		<div id="food">
			<a href="/food-and-drink"><%= image_tag("Foodanddrink.jpg") %></a>
		</div>
	</div>
	<div id="plaza-right">
		<div id="flash-of-time">
			<a href="/events/53"><%= image_tag("Flashoftime.jpg") %></a>
		</div>
		<div id="free">
			<a href="/events/54"><%= image_tag("Freeperformances.jpg") %></a>
		</div>
	</div>
</div>

<div id="connector_bottom">
	<img src="/assets/connector_bottom.jpg">
</div>

<script>document.write('<s'+'cript language="JavaScript" src="http://view.atdmt.com/jaction/6wmpfa_PFA20130313PifaPlaza_4"></s'+'cript>')</script><noscript><iframe src="http://view.atdmt.com/iaction/6wmpfa_PFA20130313PifaPlaza_4" width="1" height="1" frameborder="0" scrolling="No" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0"></iframe></noscript>
