<%= form_for @performance, :html => {:multipart => true} do |f| %>

	<div class="column left">
		<fieldset>
			<h3>Event</h3>
			<p>
				<%= f.select :event_id, Event.all.collect {|e| [ e.name, e.id ]} %>
			</p>
		</fieldset>

		<fieldset>
			<h3>General Information</h3>
			<p>
				<%= f.label :performance_date, "Date **" %><br />
				<%= f.datetime_select :performance_date, :start_year => 2013, :end_year => 2013 %>
			</p>
			<p>
				<%= f.label :price_range, "Price Range **" %><br />
				<%= f.text_field :price_range %>
			</p>
			
			<p>
				<label>Tessitura Buy URL (not editable) **</label><br />
				<input type="text" size="60" disabled="disabled" value="<%= @performance.active_ticket_url %>">
			</p>
			
			<p>
				<%= f.label :buy_url, "Buy URL Override" %><br />
				<%= f.text_field :buy_url %>
			</p>
		</fieldset>
	</div>

	<div class="column right">
		<fieldset>
			<h3>Publish Options</h3>
			<p>
				<%= f.check_box :publish %> <%= f.label :publish, "Publish" %>
			</p>
		</fieldset>

		<fieldset>
			<h3>Location</h3>
			<p><em>Location info here will take priority over default Event location.</em></p>
			<p>
				<%= f.label :location, "Name **" %><br />
				<%= f.text_field :location %>
			</p>
			<p>
				<%= f.label :address, "Street Address **" %><br />
				<%= f.text_field :address %>
			</p>
			<p>
				<%= f.label :zip, "Zip Code **" %><br />
				<%= f.text_field :zip %>
			</p>
		</fieldset>

		<!-- <fieldset>
				<h3>Timeslots</h3>
				<p>
					<%= f.label :timeslot, "Time:" %><br />
					<%= f.text_field :timeslot %>
				</p>
			</fieldset> -->
	</div>

	<p class="buttons">
		<%= f.submit %>
	</p>
<% end %>